<% classes ||= "" %>

<%= content_tag :div, class: classes do %>
  <h3>
    <%= categories.type_p %>
  </h3>

  <ul>
    <% categories.categories.each do |category| %>
      <li>
        <%= link_to category.name, "/categories/#{category.date_link}" %> (<%= money(category.balance_total) %>, <%= category.balance_state %>) - <%= category.description %>
        </li>
    <% end %>
  </ul>

  <h5>
    Total: <%= money(categories.total) %>
  </h5>

  <h5>
    Budget: <%= money(categories.budget) %>
  </h5>

  <h5>
    Balance: <%= money(categories.balance) %>
  </h5>
<% end %>
