<% provide(:title, @title ||= "All Categories") %>

<h1>
  <%= yield(:title) %>
</h1>

<div class="ba-flex ba-flex-wrap ba-flex-nowrap-md">
  <% if @monthly.expenses.categories.length > 0 %>
    <%= render 'multi_category_summary', categories: @monthly.expenses, classes: "ba-flex-item ba-flex-basis-6-md ba-mb-double ba-mb-none-md ba-mr-double-md" %>
  <% end %>

  <% if @monthly.incomes.categories.length > 0 %>
    <%= render 'multi_category_summary', categories: @monthly.incomes, classes: "ba-flex-item ba-flex-basis-6-md" %>
  <% end %>
</div>

<h5 class="ba-pt-base">
  Largest expenses
</h5>

<ul>
  <% @monthly.top_expenses.each do |exp| %>
    <li>
       <%= number_to_currency(exp.value) %> for <%= exp.name %> in <%= link_to exp.category.name, "/categories/#{params[:year]}/#{params[:month]}/#{exp.category.id}" %>
    </li>
  <% end %>
</ul>

<h5 class="ba-pt-base">
  Monthly Balance: <%= number_to_currency(@monthly.balance) %> (<%= @monthly.balance_state %>)
</h5>

<h5 class="ba-pt-base">
  Monthly Profit: <%= number_to_currency(@monthly.profit) %> (<%= @monthly.profit_state %>)
</h5>


<div class="ba-pt-double">
  <p>
    <%= link_to "All months", all_months_path %>
  </p>
  <p>
    <%= link_to "Add a new category!", new_category_path %>
  </p>
  <p>
    <%= link_to "Edit your categories!", categories_edit_path %>
  </p>
</div>
