<% provide(:title, @title ||= "All Categories") %>

<h1>
  <%= yield(:title) %>
</h1>

<div class="ba-flex ba-flex-wrap ba-flex-nowrap-md">
  <% if @expenses.categories.length > 0 %>

    <div class="ba-flex-item ba-flex-basis-6-md ba-mb-double ba-mb-none-md ba-mr-double-md">
      <h3>
        <%= @expenses.type %>
      </h3>

      <ul>
        <% @expenses.categories.each do |category| %>
          <li>
            <%= link_to category.name, "/categories/#{category.date_link}" %> (<%= number_to_currency(category.balance_total) %>, <%= category.balance_state %>) - <%= category.description %>
            </li>
        <% end %>
      </ul>

      <h5>
        Total: <%= number_to_currency(@expenses.total) %>
      </h5>

      <h5>
        Budget: <%= number_to_currency(@expenses.budget) %>
      </h5>

      <h5>
        Balance: <%= number_to_currency(@expenses.balance) %>
      </h5>
    </div>
  <% end %>

    <% if @incomes.categories.length > 0 %>
    <div class="ba-flex-item ba-flex-basis-6-md">
      <h3>
        <%= @incomes.type %>
      </h3>

      <ul>
        <% @incomes.categories.each do |category| %>
          <li>
            <%= link_to category.name, "/categories/#{category.date_link}" %> (<%= number_to_currency(category.balance_total) %>, <%= category.balance_state %>) - <%= category.description %>
            </li>
        <% end %>
      </ul>

      <h5>
        Total: <%= number_to_currency(@incomes.total) %>
      </h5>

      <h5>
        Budget: <%= number_to_currency(@incomes.budget) %>
      </h5>

      <h5>
        Balance: <%= number_to_currency(@incomes.balance) %>
      </h5>
    </div>
  <% end %>
</div>

<h5 class="ba-pt-base">
  Largest expenses
</h5>

<ul>
  <% @monthly.top_expenses.each do |exp| %>
    <li>
       <%= number_to_currency(exp.value) %> for <%= exp.name %> in <%= link_to exp.category.name, "/categories/#{params[:year]}/#{params[:month]}/#{exp.category.id}" %>
    </li>
  <% end %>
</ul>

<h5 class="ba-pt-base">
  Monthly Balance: <%= number_to_currency(@monthly.balance) %> (<%= @monthly.balance_state %>)
</h5>

<h5 class="ba-pt-base">
  Monthly Profit: <%= number_to_currency(@monthly.profit) %> (<%= @monthly.profit_state %>)
</h5>


<div class="ba-pt-double">
  <p>
    <%= link_to "All months", all_months_path %>
  </p>
  <p>
    <%= link_to "Add a new category!", new_category_path %>
  </p>
  <p>
    <%= link_to "Edit your categories!", categories_edit_path %>
  </p>
</div>
