<% new_title = @title.gsub('Category', @category.name) %>
<% provide(:title, new_title ||= "#{@category.name}") %>

<h1>
  <%= yield(:title) %>
</h1>

<h3>
  <%= @category.type %>
</h3>

<p>
  <%= @category.description %>
</p>

<ul>
  <% @category.expenses.each do |expense| %>
    <li>
      <%= expense.name %> (<%= number_to_currency(expense.value) %>) = <%= expense.description %> --- <%= link_to 'Edit', "/expenses/#{expense.id}/edit" %> | <%= link_to "Delete", expense, method: :delete, data: { confirm: "You sure?" }, class: "expense" %>
    </li>
  <% end %>
</ul>

<h4>
  Total: <%= number_to_currency(@category.total) %>
</h4>

<h4>
  Budget: <%= number_to_currency(@category.budget) %>
</h4>

<h4>
  Category Balance: <%= number_to_currency(@category.balance[:total]) %> (<%= @category.balance[:state] %>)
</h4>

<hr>

<%= link_to "Back to Month's Budget", @category.month_link %>
