<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Budget App</title>
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="ba-p-base">
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "ba-bg-contrast-secondary-lighter ba-p-base #{message_type}") %>
    <% end %>

    <%= yield %>

    <div class="footer ba-mt-double">
      <p>
        <%= link_to "Add an expense", "/expenses/new/" %>
      </p>

      <small class="ba-italic">
        <%= random_finance_quote %>
      </small>
    </div>
  </body>
</html>
